*{
    font-family: "Pixelify Sans", sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: hsl(239, 44%, 35%);
}

h1{
    color: hsl(60, 100%, 70%);
    font-size: 3.5rem;
    word-spacing: 25px;
    margin-top: 5%;
}

.container {
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

.box{
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

/*Animation for user clicking*/
.pressed{
    box-shadow: 0px 0px 20px white;
    background-color: grey;
}

/*Animation for game over*/
.game-over{
    background-color: red;
}

/*Footer - Message*/
h2{
    color: white;
    word-spacing: 25px;
    font-size: 2rem;
    margin-top: 4%;
}